*{ margin: 0; padding: 0;}
li{ list-style: none;}
body,input,textarea{ font: 14px '\9ED1\4F53';}
body{ background: #f7f7f7; padding-bottom: 51px;}
.fl{ float: left;}
.fr{ float: right;}
.clearFix{ clear: both;}
.ovf{ overflow: hidden;}
.pad10{ padding: 10px;}
.mt10{ margin-top: 10px;}
a{ text-decoration: none;}











